.wonbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 600px;
  border: 5px solid green;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
  color: black;
}
.lostbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 600px;
  border: 5px solid red;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
  color: black;
}
.youwontext{
  padding-top: 30px;
  color: green;
  font-size: 40px;
}
.outcomewontext{
  padding-bottom: 30px;
  color: green;
  font-size: 40px;
}
.youlosttext{
  padding-top: 30px;
  color: red;
  font-size: 40px;
}
.outcomelosttext{
  padding-bottom: 30px;
  color: red;
  font-size: 40px;
}
.parents{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.background{
  background-color: lightgray;
  height:100vh;
}